.form-placeholder {
  font-size: 32px;
  border: solid 2px black;
  width: 350px;
  height: 200px;
  display: flex;
  position: relative;
  cursor: poiner;
  margin: 10px;
  background: linear-gradient(
    269.83deg,
    #eaedef 0.16%,
    rgba(234, 238, 239, 0.35) 98.29%
  );
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-placeholder h4 {
  color: #0e401c;
  padding: 10px;
}

.btns-form-div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding-right: 10px;
}

.editer {
  cursor: pointer;
  color: #62c167;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 10px;
}
.voir {
  cursor: pointer;
  background-color: #62c167;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 9px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 10px;
}
