.question-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-size: 26px;
  color: #0e401c;
}

.input-field {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: none;
  padding-left: 20px;
}

.addQuestion {
  cursor: pointer;
  background-color: #4595e4;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  width: 100px;
  border: none;
  padding: 10px;
}

.addQuestion:hover {
  border: solid 1px #4595e4;
  background-color: transparent;
  color: #4595e4;
}

.text-component-div {
  background-color: rgb(246, 186, 93);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 28px;
  padding: 10px;
}
.note-component-div {
  background-color: rgb(241, 160, 154);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 28px;
  padding: 10px;
}
.yes-component-div {
  background-color: rgb(121, 165, 217);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 28px;
  padding: 10px;
}
.email-component-div {
  background-color: rgb(154, 206, 138);

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  font-size: 28px;
  padding: 10px;
}

.delete {
  cursor: pointer;
  background-color: transparent;
  color: #4595e4;
  padding: 0 9px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 700;
  border: none;
  padding: 10px;
  border: solid 1px #4595e4;
  width: 100px;
}

.delete:hover {
  color: white;
  background-color: #4595e4;
}

.icon {
  margin: 0 10px;
}
