.restartBtn {
  cursor: pointer;
  border: 1px solid #62c167;
  color: #62c167;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 28px;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.restartBtn:hover {
  background-color: #62c167;
  color: white;
}

.sentDiv {
  display: flex;
}
