.form-user-front {
  width: 300px;
  height: 150px;
  border: solid black 1px;
}

.note-field {
  width: 50px;
  height: 50px;
  border-radius: 0;
  text-decoration: none;
}

.input-div {
  display: flex;
}

/* Hide the browser's default radio button */
.input-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.input-div input:checked ~ .note-field {
  background-color: #62c193;
  color: white;
}

.input-div input:checked {
  background-color: #62c193;
}

/* Create a custom radio button */
.note-field {
  margin: 10px;
  height: 45px;
  padding: 10px;
  width: 45px;
  border: solid #0e401c 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
