.home-container {
  display: flex;
  width: 800px;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px !important;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #eaf9ec;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-container h1 {
  color: #0e401c;
  margin-left: 100px;
  margin-top: 15px;
}

.home-forms {
  margin-top: 30px;
  width: 600px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
  margin: 20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.component {
  background-color: white;
  height: 60px;
  width: 800px;
  margin: 10px;
  border-radius: 5px;
}
